# Path to sass binary, should be updated if node-sass dependency is updated
# (must be full DNS to avoid proxy issues as sass install.js ignores no_proxy and primary proxy does not exclude without full DNS)
#sass_binary_site=

# Path to phantomJS installation source
#phantomjs_cdnurl=

# Path to chromedriver installation source
#chromedriver_cdnurl=

# Path to npm repo
#registry=

# Path to node binary
#NODEJS_ORG_MIRROR=
#NVM_NODEJS_ORG_MIRROR=

# Disable strict ssl
#strict-ssl=false
