<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= htmlWebpackPlugin.options.props.title %></title>

        <%
            var rootPath = (htmlWebpackPlugin.options.props.scoutPath) ?
            `./${htmlWebpackPlugin.options.props.scoutPath}`
            : `./`
        %>

        <% var env = (htmlWebpackPlugin.options.props.scoutPath) ? `prod` : `dev` %>
        <base href="<%= `${rootPath}` %>" />

        <!--[if IE]
        <script type="text/javascript">
            // Fix for IE ignoring relative base tags
            (function() {
                var baseTag = document.getElementsByTagName(base)[0];
                baseTag.href = baseTag.href;
            })();
        </script>
        <![endif]-->

        <!--[if lt IE 9]
        <script type="text/javascript" src="./scripts/react-polyfill.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div
            id="app-mount"
            class="app"
            data-env="<%= `${env}` %>"
            data-channel="EMEA"
            data-entrypoint="/home/part1"
        ></div>
    </body>
</html>
