{
    "parser": "babel-eslint",
    "plugins": [
        "promise",
        "jest"
    ],
    "extends": [
        "plugin:promise/recommended"
    ],
    "env": {
        "jest/globals": true
    }
}
